.place {
  display: grid;
  grid-template-columns: fit-content(460px) minmax(min-content, max-content);
  gap: 48px 40px;
  margin-top: 80px;
}

@media screen and (max-width:1024px) {
  .place {
    grid-template-columns: fit-content(440px) minmax(min-content, max-content);
    gap: 48px 32px;
  } 
}

@media screen and (max-width:768px) {
  .place {
    grid-template-columns: fit-content(340px) minmax(min-content, max-content);
    gap: 48px 28px;
    margin-top: 73px;
  }  
}

@media screen and (max-width:600px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 60px;
  }
}

@media screen and (max-width:320px) {
  .place {
    margin-top: 50px;
  }
}

